<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>تطوير و برمجة المواقع و التطبيقات</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-list>
    <ion-card>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="http://robotech-it.com/sites/all/themes/robust/images/tech-7.png">
      </ion-thumbnail>
      <ion-label>دروبال</ion-label>
    </ion-item>
    </ion-card>
    <ion-card>
        <ion-item >
          <ion-thumbnail slot="end">
            <img src="C:\Users\fatto\Desktop\IonicProjects\maharat\src\app\avatar\f0f98fed-b61b-409d-a855-4cefd898aadf.jpg">
              </ion-thumbnail>
              <ion-label></ion-label>
            </ion-item>
            
            </ion-card>
  </ion-list>
  </ion-content>
  