<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-right">المدربين </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('../background.jpg') ">
<ion-list  *ngIf="tutor">


    <ion-card *ngFor="let i of tutor " (click)="goToTutor(i.id)">
        <ion-item (click)="goToTutor()" class ="ion-text-right"> 
          <ion-thumbnail slot="end">
            <img  src="{{ i.imageURL }}">
          </ion-thumbnail>
          <ion-label>
              <h1>{{i.name}} </h1>
              <p>{{i.description}} </p>
          </ion-label>
        </ion-item>
        </ion-card>

</ion-list>
</ion-content>
