<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-right">المدربين </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('../background.jpg') ">
<ion-list>


    <ion-card >
        <ion-item (click)="goToTutor()" class ="ion-text-right"> 
          <ion-thumbnail slot="end">
            <img  src="assets\avatar\yosri.jpg">
          </ion-thumbnail>
          <ion-label>
              <h1>يسري يحمد</h1>
              <p>خبير دروبال</p>
          </ion-label>
        </ion-item>
        </ion-card>


        <ion-card>
            <ion-item (click)="goToTutor()" class ="ion-text-right">
              <ion-thumbnail slot="end">
                <img src="assets\avatar\abdullah.jpg">
              </ion-thumbnail>
              <ion-label>
                  <h1>عبدالله التايه</h1>
                  <p>مصمم</p>
              </ion-label>
            </ion-item>
            </ion-card>

            <ion-card>
                <ion-item (click)="goToTutor()" class ="ion-text-right"> 
                  <ion-thumbnail slot="end">
                    <img src="assets\avatar\ahmad_aboyahia.jpg">
                  </ion-thumbnail>
                  <ion-label>
                      <h1> أحمد أبويحيى</h1>
                      <p>مطور واجهات أمامية</p>
                  </ion-label>
                </ion-item>
                </ion-card>
                <ion-card>
                    <ion-item (click)="goToTutor()" class ="ion-text-right">
                      <ion-thumbnail slot="end">
                        <img src="assets\avatar\abdulrahman.jpg">
                      </ion-thumbnail>
                      <ion-label>
                          <h1>عبدالرحمن إبراهيم</h1>
                          <p>خبير ايونيك و دروبال</p>
                      </ion-label>
                    </ion-item>
                    </ion-card>
                    <ion-card>
                        <ion-item (click)="goToTutor()" class ="ion-text-right">
                          <ion-thumbnail slot="end">
                            <img src="assets\avatar\ahmad_aboghazalah.jpg">
                          </ion-thumbnail>
                          <ion-label>
                              <h1>أحمد أبوغزالة</h1>
                              <p>خبير ايونيك</p>
                          </ion-label>
                        </ion-item>
                        </ion-card>

</ion-list>
</ion-content>
