<ion-content><!--
    <div class="ion-padding">
    
        <ion-list >
            <ion-item>
              <ion-label  position="floating">اسم المستخدم</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label  position="floating">كلمة المرور </ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
             
          </ion-list>
          <ion-button(click)="goToTopics()">تسجيل الدخول</ion-button>
    </div>
</ion-content>-->
<ion-content  style="--background: url('../background.jpg') ">

  <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">    
                      <img class = "home-logo" src="../assets/logo.png">        
        </ion-col>
      </ion-row>
    </ion-grid>

  <div class="ion-padding">
    
  
        <ion-item class="ion-text-center register-inputs"> 
        
        <ion-input  class="ion-text-right" type="text" placeholder="اسم المستخدم "></ion-input>
        </ion-item>
   
        <ion-item class="ion-text-center register-inputs">
            <ion-input class="ion-text-right" type="text" placeholder=" كلمة المرور " type="password"></ion-input>
          </ion-item>
        
         
    
      <ion-button class="register-buttons" expand="full"(click)="goToTopics()"> تسجيل الدخول</ion-button>
</div>
    </ion-content>