.home-logo {
    margin-top:70px;
}

.register-inputs {
    border:1px solid grey;
    width:250px;
    margin:auto;
    margin-bottom: 25px;
}

.register-buttons {
        width:250px;
        margin:auto;
    color:black;
    --background:lightgrey!important;

}