<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>تطوير و برمجة المواقع و التطبيقات</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
<ion-list>
  <ion-card>
  <ion-item (click)="goToTutors()">
    <ion-thumbnail slot="end">
      <img src="assets/avatar/drupal.png">
    </ion-thumbnail>
    <ion-label>دروبال</ion-label>
  </ion-item>
  </ion-card>
  <ion-card>
      <ion-item (click)="goToTutors()">
        <ion-thumbnail slot="end">
          <img src="assets/avatar/ionic.png">
        </ion-thumbnail>
        <ion-label>ايونيك</ion-label>
      </ion-item>
      </ion-card>
      <ion-card>
          <ion-item (click)="goToTutors()">
            <ion-thumbnail slot="end">
              <img src="assets/avatar/frontEndjpg.jpg">
            </ion-thumbnail>
            <ion-label>تطوير الواجهات الأمامية</ion-label>
          </ion-item>
          
          </ion-card>
</ion-list>
</ion-content>
