<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-right">تطوير و برمجة المواقع و التطبيقات</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content style="--background: url('../background.jpg') ">


  <!--
  <ion-card>
  <ion-item (click)="goToTutors()">
    <ion-thumbnail slot="end">
      <img src="assets/avatar/drupal.png">
    </ion-thumbnail>
    <ion-label>دروبال</ion-label>
   
  </ion-item>
  </ion-card>
-->
<ion-grid *ngIf="topic" > 
  <ion-row *ngFor="let i of topic" (click)="goToTutors()">
    <ion-col class="ion-text-center" >    
                  <img class = "courses-images "  src="{{ i.imageURL }}">        
    </ion-col>
  </ion-row>

 

  </ion-grid>

</ion-content>
